<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verify email</title>
  </head>
  <body>
    <h1>Complete registration - Verify email</h1>

    <p>Hi {{name}},</p>

    <p>Thanks for getting started with aleksandrmakarov.com!</p>

    <p>We need a little more information to complete your registration,
      including a confirmation of your email address.</p>

    <p>Click below to confirm your email address:</p>

    <a href="{{url}}">{{url}}</a>

    <p>If you have problems, please paste the above URL into your web browser.
      Or use code below:</p>
    <code>
      {{token}}
    </code>
  </body>
</html>